In [1]:
import pandas as pd

In [2]:
net = pd.read_csv('netflix_titles.csv')
# Se carga el archivo 'netflix_titles.csv' utilizando la función read_csv de la librería pandas (pd) y se asigna a la variable 'net'

In [3]:
net.head(10)
# Se muestra una vista previa de las primeras 10 filas del DataFrame 'net' utilizando el método head() de pandas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
5,s6,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"TV Dramas, TV Horror, TV Mysteries",The arrival of a charismatic young priest brin...
6,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",NaN,"September 24, 2021",2021,PG,91 min,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
7,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",1993,TV-MA,125 min,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
8,s9,TV Show,The Great British Baking Show,Andy Devonshire,"Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...",United Kingdom,"September 24, 2021",2021,TV-14,9 Seasons,"British TV Shows, Reality TV",A talented batch of amateur bakers face off in...
9,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",2021,PG-13,104 min,"Comedies, Dramas",A woman adjusting to life after a loss contend...

In [4]:
net.info()
# Se muestra información resumida sobre el DataFrame 'net', incluyendo el número de filas y columnas, los nombres, el tipo de datos  y la cantidad de valores no nulos.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [5]:
#no se deben eliminar los registros nulos por que asi desaparecer todos los registros

In [36]:
net.sample() 
# Selecciona aleatoriamente una única fila del DataFrame 'net' y la muestra como una muestra aleatoria.

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4220,s4221,TV Show,COMEDIANS of the world,NaN,"Neal Brennan, Chris D'Elia, Nicole Byer, Nick ...",United States,"January 1, 2019",2019,TV-MA,13 Seasons,"Stand-Up Comedy & Talk Shows, TV Comedies",This global stand-up comedy series features a ...

In [7]:
net.isnull().sum()
# Calcula la cantidad de valores nulos (NaN) en cada columna del DataFrame 'net' y muestra el resultado como una serie que contiene el recuento de valores nulos por columna.

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

### Creación de DataFrames y Normalización de Datos

In [8]:
# Selecciona las filas del DataFrame 'net' donde el valor en la columna 'type' es igual a 'Movie' y las asigna al DataFrame 'net_peliculas'.
net_peliculas = net.loc[net['type'] == 'Movie']
net_series = net.loc[net['type'] == 'TV Show']
# Selecciona las filas del DataFrame 'net' donde el valor en la columna 'type' es igual a 'TV Show' y las asigna al DataFrame 'net_series'.

In [9]:
peliculas= net[net['type']=='movie']
#Selecciona las filas del DataFrame 'net' donde el valor en la columna 'type' es igual a 'movie' (películas) y las asigna al DataFrame 'peliculas'.

In [10]:
net['type'].unique 
# Obtiene una lista de los valores únicos presentes en la columna 'type' del DataFrame 'net'.

<bound method Series.unique of 0         Movie
1       TV Show
2       TV Show
3       TV Show
4       TV Show
         ...
8802      Movie
8803    TV Show
8804      Movie
8805      Movie
8806      Movie
Name: type, Length: 8807, dtype: object>

In [11]:
series= net[net['type']=='TV Show'] 
# Selecciona las filas del DataFrame 'net' donde el valor en la columna 'type' es igual a 'TV Show' (programas de televisión) y las asigna al DataFrame 'series'.

In [12]:
net['type'].unique
# Obtiene una lista de los valores únicos presentes en la columna 'type' del DataFrame 'net'.

<bound method Series.unique of 0         Movie
1       TV Show
2       TV Show
3       TV Show
4       TV Show
         ...
8802      Movie
8803    TV Show
8804      Movie
8805      Movie
8806      Movie
Name: type, Length: 8807, dtype: object>

In [13]:
series.sample()
# Selecciona aleatoriamente una única fila del DataFrame 'series' y la muestra como una muestra aleatoria.

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1539,s1540,TV Show,Marvel Anime: X-Men,NaN,"Toshiyuki Morikawa, Rikiya Koyama, Katsunosuke...",Japan,"December 16, 2020",2011,TV-14,1 Season,"Anime Series, International TV Shows","A year after their dissolution, the X-Men are ..."

In [14]:
peliculas['date_added']=peliculas['date_added'].str.strip()

In [15]:
peliculas['date_added'] = pd.to_datetime(peliculas['date_added'])

In [16]:
peliculas.info()
# Muestra información resumida 'peliculas', incluyendo el número de filas y columnas, los nombres, el tipo de datos  y la cantidad de valores no nulos.

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       0 non-null      object
 1   type          0 non-null      object
 2   title         0 non-null      object
 3   director      0 non-null      object
 4   cast          0 non-null      object
 5   country       0 non-null      object
 6   date_added    0 non-null      datetime64[ns]
 7   release_year  0 non-null      int64
 8   rating        0 non-null      object
 9   duration      0 non-null      object
 10  listed_in     0 non-null      object
 11  description   0 non-null      object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 0.0+ bytes

In [17]:
series['date_added']=series['date_added'].str.strip()

C:\Users\52553\AppData\Local\Temp\ipykernel_20728\1426276207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series['date_added']=series['date_added'].str.strip()

In [18]:
series['date_added'] = pd.to_datetime(series['date_added'])

C:\Users\52553\AppData\Local\Temp\ipykernel_20728\2339821119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series['date_added'] = pd.to_datetime(series['date_added'])

In [19]:
series.info()
# Muestra información resumida 'series', incluyendo el número de filas, los nombres, el tipo de datos de cada columna y la cantidad de valores no nulos.

<class 'pandas.core.frame.DataFrame'>
Index: 2676 entries, 1 to 8803
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       2676 non-null   object
 1   type          2676 non-null   object
 2   title         2676 non-null   object
 3   director      230 non-null    object
 4   cast          2326 non-null   object
 5   country       2285 non-null   object
 6   date_added    2666 non-null   datetime64[ns]
 7   release_year  2676 non-null   int64
 8   rating        2674 non-null   object
 9   duration      2676 non-null   object
 10  listed_in     2676 non-null   object
 11  description   2676 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 271.8+ KB

In [20]:
net_peliculas['duration'] =net_peliculas['duration'].str.replace(' min','')
net_peliculas['duration'] =net_peliculas['duration'].str.strip()
net_peliculas['duration'] =net_peliculas['duration'].astype(float)
#net_series = net_series.rename(columns={'duration': 'temporadas'})
#net_series['temporadas'] = net_series['temporadas'].str.replace(' Seasons','').str.replace(' Season','').astype(int)

C:\Users\52553\AppData\Local\Temp\ipykernel_20728\4070715350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_peliculas['duration'] =net_peliculas['duration'].str.replace(' min','')
C:\Users\52553\AppData\Local\Temp\ipykernel_20728\4070715350.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_peliculas['duration'] =net_peliculas['duration'].str.strip()
C:\Users\52553\AppData\Local\Temp\ipykernel_20728\4070715350.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  net_peliculas['duration'] =net_peliculas['duration'].astype(float)

In [21]:
net_peliculas.info()
# # Muestra información resumida'net_peliculas', incluyendo el número de filas y columnas, los nombres, el tipo de datos  y la cantidad de valores no nulos.

<class 'pandas.core.frame.DataFrame'>
Index: 6131 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6131 non-null   object
 1   type          6131 non-null   object
 2   title         6131 non-null   object
 3   director      5943 non-null   object
 4   cast          5656 non-null   object
 5   country       5691 non-null   object
 6   date_added    6131 non-null   object
 7   release_year  6131 non-null   int64
 8   rating        6129 non-null   object
 9   duration      6128 non-null   float64
 10  listed_in     6131 non-null   object
 11  description   6131 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 622.7+ KB

In [22]:
net_series = net_series.rename(columns={'duration': 'temporadas'})

In [30]:
def filmografia(actor, datos_peliculas):
    filmografia_actor = datos_peliculas[datos_peliculas['Actor'] == actor]
    lista_peliculas = filmografia_actor['Pelicula'].tolist()
    return lista_peliculas